# =====================
# OS & Editor
# =====================
.DS_Store
Thumbs.db
*.swp
*.swo
*~
.vscode/
.idea/
*.sublime-*
.nvim.lua

# =====================
# C / C++
# =====================
*.o
*.obj
*.out
*.exe
*.a
*.so
*.dylib
*.dll
*.lib
*.exp
*.pdb
.clangd
main

# =====================
# Rust
# =====================
/target/
**/*.rs.bk
*.pdb

# =====================
# Python
# =====================
__pycache__/
*.py[cod]
*.pyo
*.egg-info/
dist/
.venv/
venv/
env/

.cache/
build/
